@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bodyBg: white;
    --p: black;
    --a: #72c8d2;
}
.darkMode {
    --bodyBg: black;
    --p: white;
    --a: powderblue;
}

body {
    padding: 2px;
    padding-top: 50px;
    margin: 2px;
    font-family: Raleway;
    color: var(--p);
    background: var(--bodyBg);
}


ul.topNav {
    display: inline-block;
    background-color: #274d87;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}
ul.topNav li {
    margin: 0px;
    padding: 10px;
    background-color: #0d274f;
    display: block;
    float: left;
}
ul.topNav li a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 150%;
    }

footer {
    text-align: center;
    padding: 3px;
    background-color: #0d274f;
    font-family: Raleway;
    color: white;
}

a {
    font-family: Raleway;
    color: var(--a);
    underline: 1px solid powderblue;
}
